<!doctype html>
<html lang="en" ng-app="ShoppingTripApp">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 8px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyListController as toBuyList'>
     <h2>To Buy: {{ name }}</h2>
     <ul>
       <li ng-repeat="item in toBuyList.getItems()">
         Buy {{ item.quantity }}  {{ item.name }}
         <button ng-click="toBuyList.buyItem($index);">Bought</button>
       </li>
     </ul>
     <div class="emptyMessage" ng-if="toBuyList.empty()">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='BoughtListController as boughtList'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in boughtList.getItems()">
         Bought {{ item.quantity }}  {{ item.name }}
       </li>
     </ul>
     <div class="emptyMessage" ng-if="boughtList.empty()")>Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
