<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="lib/angular.min.js"></script>
    <script src="lunchchecker.js"></script>
  </head>
<body>
   <div class="container" ng-controller='LunchController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
           Lunch Items (blank items do not count):
             <input id="lunch-menu" type="text"
             ng-model="lunchText"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button ng-click="checkLunchMenu()">Check If Too Much</button>
         </div>
         <div class="form-group message"
         style="color:{{ lunchColor }};border-style: solid;border-color:{{ lunchColor }}">
           {{ lunchComment }}
         </div>
   </div>

</body>
</html>
